/* set font to all body text */
body{
    font-family: 'Poppins', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
:root{
    --unique-color: #E76F51; 
}
.button-color{
    background-color: var(--unique-color)!important;
}
.head-content{
    background-color: #264653;
}
/* convert the image to grayscale */
.effect{
    filter: grayscale(1);
}
.short-text{
    color: var(--unique-color);
}
.create-space{
    padding: 20px!important;
}
.star-icon{
    color: var(--unique-color);
}